<div class="control-icon hey-wait-isNotTriggered {{#if isNotTriggered}}active{{/if}}">
  <img src="modules/hey-wait/src/img/halt.svg" width="36" height="36" title="{{localize 'HEYWAIT.TEMPLATE.isNotTriggered'}}">
</div>
