<div class="control-icon hey-wait-isNotTriggered {{#if isNotTriggered}}active{{/if}}">
  <img src="modules/hey-wait/img/halt.svg" width="36" height="36" title="{{localize 'HEYWAIT.isNotTriggered'}}">
</div>
